<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>game Rooms</title>
	</head>
	<body>
		<div>
			<label><input type="radio" name="online_status" value="on" checked> Online</label>
			<label><input type="radio" name="online_status" value="off"> Offline</label>
		</div>
		<div>
			<label><input type="radio" name="game_mode" value="2p" checked> 1 vs 1</label>
			<label><input type="radio" name="game_mode" value="4p"> Multiplayer</label>
			<label><input type="radio" name="game_mode" value="tour"> Tournament</label>
		</div>
		What game room would you like to enter?<br>
		<input id="room-name-input" type="text" size="100"><br>
		<input id="room-name-submit" type="button" value="Enter"><br>

		<script>
			document.querySelector('#room-name-input').focus();
        	document.querySelector('#room-name-input').onkeyup = function(event) {
            if (event.key === 'Enter') {
                document.querySelector('#room-name-submit').click();
            }
        };
        	document.querySelector('#room-name-submit').onclick = function(event) {
            var roomName = document.querySelector('#room-name-input').value;
            var onlineStatus = document.querySelector('input[name="online_status"]:checked').value;
            var gameMode = document.querySelector('input[name="game_mode"]:checked').value;
            // Update the page content or WebSocket connection based on the selections.
			// 현재 페이지의 URL 경로를 아래로 변경
            window.location.pathname = `/game/${onlineStatus}/${gameMode}/${roomName}/`;
        };
		</script>
	</body>
</html>