{% load static %}


<!DOCTYPE html>
<html>
	<head>
		
		<meta charset="utf-8"/>
		<title>Game Room</title>
		<script type="importmap">
			{
					"imports": {
							"three": "https://unpkg.com/three@0.160.0/build/three.module.js",
							"three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
					}
			}
		</script>

		<style>
			#gameOverMessage {
					display: none;
					position: fixed;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 36px; /* 큰 글씨로 표시 */
					padding: 20px;
					border: 1px solid #000;
					z-index: 1000;
			}
			.winner1 {
					color: green; /* Player 1 승리시 초록색 */
			}
			.winner2 {
					color: red; /* Player 2 승리시 빨간색 */
			}
			.winner3 {
					color: blue; /* Player 2 승리시 빨간색 */
			}
			.winner4 {
					color: yellow; /* Player 2 승리시 빨간색 */
			}
		</style>
		
		<script type="module" src="{% static 'js/offtourremoteGame.js' %}" defer></script>

	</head>

	<body>
		
		{{ room_name|json_script:"room-name" }}

		<div id="gameOverMessage" style="display: none;">GAME OVER!!!</div>

		
		<script>
			const roomName = JSON.parse(document.getElementById('room-name').textContent);
    		const wsScheme = window.location.protocol === "https:" ? "wss" : "ws";
			const publicIp = "43.200.228.128";
    		const chatSocket = new WebSocket(
				`${wsScheme}://${publicIp}/ws/game/off/tour/${roomName}/`
			);
			

			var barPositions = {
            bar1: {x: 0, y:0},
            bar2: {x: 0, y:0}
      };
        
      var scoreBoard = {p1 : 0, p2: 0}
      var ballPosition = {x:0, y:0};
			let keyStates = {'a': false, 'd': false, 'j': false, 'l':false};
			
			document.addEventListener('keydown', function(event) {

				if (['a', 'd', 'j', 'l'].includes(event.key)) {
          keyStates[event.key] = true;
          sendKeyStates();
        }
      });
			



			document.addEventListener('keyup', function(event) {
				if (['a', 'd', 'j', 'l'].includes(event.key)) {
          keyStates[event.key] = false;
          sendKeyStates();
        }
      });

			function sendKeyStates() {
        if (chatSocket.readyState === WebSocket.OPEN) {
          chatSocket.send(JSON.stringify(keyStates));
        }
      }

			chatSocket.onclose = function(event) {
        if (event.code === 4000) {
            alert("This game is already full. Please join another game.");
            // 사용자가 확인을 누른 후 현재 페이지를 닫음
            window.close();
        } else {
            
        }
    	};
			
			// 채팅창 - 채팅 내역 출력
			chatSocket.onmessage = function(event)	{
				const data = JSON.parse(event.data);
				
				if (data.game_over_flag !== undefined) {
					if (data.game_over_flag == true) {
						var gameOverMessage = document.getElementById('gameOverMessage');
            gameOverMessage.style.display = 'block'; // 메시지 표시
            if (data.game_winner == 1) {
							if (data.player1_id == 1) {
								gameOverMessage.innerHTML = "Player " + data.player1_id+ " Wins!"; // Player 1 승리 메시지
                gameOverMessage.className = "winner1"; // 초록색 스타일 적용
							}
							if (data.player1_id == 3) {
								gameOverMessage.innerHTML = "Player " + data.player1_id+ " Wins!"; // Player 1 승리 메시지
                gameOverMessage.className = "winner3"; // 초록색 스타일 적용
							}
                
            } else if (data.game_winner == 2) {
							if (data.player2_id == 2) {
								gameOverMessage.innerHTML = "Player" + data.player2_id+ "Wins!"; // Player 2 승리 메시지
                gameOverMessage.className = "winner2"; // 빨간색 스타일 적용
							}
							if (data.player2_id == 4) {
								gameOverMessage.innerHTML = "Player" + data.player2_id+ "Wins!"; // Player 2 승리 메시지
                gameOverMessage.className = "winner4"; // 빨간색 스타일 적용
							} 
            } 
						setTimeout(function() {
							gameOverMessage.style.display = 'none';
						}, 3000);
					}
				}
				if (data.tournament_over_flag === true) {
					setTimeout(function() {
                window.location.href = '/game'; // 3초 후 리다이렉션
            }, 3000);		
				}

				if (data.play_bar1_position !== undefined) {
        	
          barPositions.bar1.x = data.play_bar1_position.x;
          barPositions.bar1.y = data.play_bar1_position.y;
                
        }
        if (data.play_bar2_position !== undefined) {
          
          barPositions.bar2.x = data.play_bar2_position.x;
          barPositions.bar2.y = data.play_bar2_position.y;
        }
        if (data.ball_position !== undefined) {
          
          ballPosition.x = data.ball_position.x;
          ballPosition.y = data.ball_position.y;
        }
        if (data.score_player1 !== undefined && data.score_player2 !== undefined) {
          document.getElementById('scorePlayer1').innerText = data.score_player1;
          document.getElementById('scorePlayer2').innerText = data.score_player2;
				}
				
			};

			// 웹 소켓 강제 종료시 에러 처리 - 에러 로그 출력
			chatSocket.onclose = function(event) {
				
			};


			document.querySelector('#chat-message-input').focus();
			document.querySelector('#chat-message-input').onkeyup = function(event) {
				if (event.key === 'Enter') {
					document.querySelector('#chat-message-submit').click();
				}
			};

			document.querySelector('#chat-message-submit').onclick = function(event) {
				const messageInputDom = document.querySelector('#chat-message-input');
				const message = messageInputDom.value;
				chatSocket.send(JSON.stringify({
					'message': message
				}));
				messageInputDom.value = '';
			};
			
		</script>
		<div id="scoreBoard" style="text-align: center; margin-bottom: 20px;">
				Player 1: <span id="scorePlayer1">0</span> | 
				Player 2: <span id="scorePlayer2">0</span>
		</div>

		<div id="gameContainer" style="width: 800px; height: 100px; margin: auto;"></div>

	</body>
</html>