<!DOCTYPE html>
<html>
	<head>
		<title>Add post</title>
		<style>
			.button_index {
				display: inline-block;
				padding: 10px 20px;
				background-color: blue;
				color: black;
				border-radius: 5px;
			}
			.button_post {
				display: inline-block;
				padding: 10px 20px;
				background-color: green;
				color: black;
				border-radius: 5px;
			}
			.button_add {
				display: inline-block;
				padding: 10px 20px;
				background-color: red;
				color: black;
				border-radius: 5px;
			}
		</style>
	</head>
	<body>
		<h1>Add post</h1>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="button_add">add post</button>
		</form>
		<a href="{% url 'board:index_view' %}" class="button_index">move to index</a>
		<a href="{% url 'board:post_view' %}" class="button_post">move to post</a>
	</body>
</html>