<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<style>
			.button_front {
				display: inline-block;
				padding: 10px 20px;
				background-color: blue;
				color: black;
				border-radius: 5px;
			}
			.button_post {
				display: inline-block;
				padding: 10px 20px;
				background-color: green;
				color: black;
				border-radius: 5px;
			}
		</style>
	</head>
	<body>
		<h1>Index page</h1>
		<div>
			<p><a href="{% url 'board:front_view' %}" class="button_front">move to front</a></p>
			<p><a href="{% url 'board:post_view' %}" class="button_post">move to post</a></p>
		</div>
	</body>
</html>
