<!DOCTYPE html>
<html>
	<head>
		<title>Post</title>
		<style>
			.button_index {
				display: inline-block;
				padding: 10px 20px;
				background-color: blue;
				color: black;
				border-radius: 5px;
			}
			.button_add_post {
				display: inline-block;
				padding: 10px 20px;
				background-color: green;
				color: black;
			}
			.button_delete_post {
				display: inline-block;
				background-color: red;
				color: black;
			}
		</style>
	</head>
	<body>
		<h1>Post page</h1>
		<a href="{% url 'board:index_view' %}" class="button_index">to index page</a>
		<a href="{% url 'board:add_post_view' %}" class="button_add_post">add post</a>
		{% for post in posts %}
		<div>
			<h2>{{ post.title }}</h2>
			<p>{{ post.content }}</p>
			<p>Posted on: {{ post.created_at }}</p>
			<form action="{% url 'board:delete_post' post.id %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Delete" class="button_delete_post">
			</form>
		</div>
		{% endfor %}
	</body>
</html>